<div class="element-details">
  <h1><%= @planet.name %></h1>
  <h2>Distance from sun: <%= @planet.distance_from_sun %></h2>
  <h2>Diameter: <%= @planet.diameter %></h2>
  <h2>Orbit period: <%= @planet.orbit_period %></h2>
  
  <%= link_to 'All planets', planets_path %>
  
  <% if params[:id] == nil %>
    <button><%= link_to 'Random Planet', planets_random_path %></button>
  <% end %>
</div>
